---
layout: none
primary:
  darkest: 2E457B
  darker: 495B83
  base: 4B6195
  lighter: 9CB2E4
  lightest: BEC9E4
complementary:
  darkest: B88F3D
  darker: C3A364
  base: DFB562
  lighter: F7DAA0
  lightest: F7E8C9
---
body {
    background-color: #{{ page.primary.lighter }};
}

.head-foot {
    background-color: #{{ page.primary.darkest }};
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-foot p {
    color: white;
}

.header-links p {
    margin: 0;
}

.head-foot a {
    color: white;
}

#header {
    background-image: url("/banner.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 150px;
}

#vjnet {
    font-size: 40px;
}

#citation {
    margin-left: 5em;
    margin-bottom: 0;
}

#citation-origin {
    margin-left: 10em;
    margin-top: 0;
}

#content {
    background-color: white;
    border: solid 2px #{{ page.complementary.base }};
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    background-color: #{{ page.primary.darkest }};
    color: white;
}

h2 {
    background-color: #{{ page.primary.darker }};
    color: white;
}

#content a {
    color: #{{ page.primary.darkest }};
}
