---
---

$color_primary_base: #4B6195;
$color_primary_darkest: #2E457B;
$color_primary_darker: #495B83;
$color_primary_lighter: #9CB2E4;
$color_primary_lightest: #BEC9E4;
$color_complementary_base: #DFB562;
$color_complementary_darkest: #B88F3D;
$color_complementary_darker: #C3A364;
$color_complementary_lighter: #F7DAA0;
$color_complementary_lightest: #F7E8C9;

body {
    background-color: $color_primary_lighter;
}

.head-foot {
    background-color: $color_primary_darkest;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-foot p {
    color: white;
}

.header-links p {
    margin: 0;
}

.head-foot a {
    color: white;
}

#header {
    background-image: url("/banner.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 150px;
}

#vjnet {
    font-size: 40px;
}

#citation {
    margin-left: 5em;
    margin-bottom: 0;
}

#citation-origin {
    margin-left: 10em;
    margin-top: 0;
}

#content {
    background-color: white;
    border: solid 2px $color_complementary_base;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    background-color: $color_primary_darkest;
    color: white;
}

h2 {
    background-color: $color_primary_darker;
    color: white;
}

#content a {
    color: $color_primary_darkest;
}
