<!DOCTYPE html>

<html>
<head>
    <title>vincent-jacques.net</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="-tmL__HjBbFIkMwBhnBg2J1VDEtAyR8WYye_W-CWlSA">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">

<div id="header" class="row head-foot">
    <div class="col-md-12">
        <p id="vjnet"><a href="/">vincent-jacques.net</a></p>
        <p id="citation">&laquo;&nbsp;S'il n'y a pas de solution,<br/>c'est qu'il n'y a pas de problème.&nbsp;&raquo;</p>
        <p id="citation-origin">Devise <a href="http://en.wikipedia.org/wiki/Les_Shadoks">Shadock</a></p>
    </div>
</div>

<div id="content" class="row">
    <div class="col-md-12">
{{ content }}
    </div>
</div>

<div id="footer" class="row head-foot">
    <div class="col-md-12">
        <p class="text-center">&copy; Vincent Jacques 2010-2014 - <a href="/contact">Contact</a></p>
    </div>
</div>

</div>
</div>
</div>
</body>
</html>
