<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="-tmL__HjBbFIkMwBhnBg2J1VDEtAyR8WYye_W-CWlSA">

    <title>vincent-jacques.net</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

<div id="header" class="row head-foot"><div class="col">
    <p id="vjnet"><a href="/">vincent-jacques.net</a></p>
    <p id="citation">&laquo;&nbsp;S'il n'y a pas de solution,<br/>c'est qu'il n'y a pas de problème.&nbsp;&raquo;</p>
    <p id="citation-origin">Devise <a href="http://en.wikipedia.org/wiki/Les_Shadoks">Shadock</a></p>
</div></div>

<div id="content" class="row"><div class="col">
{{ content }}
</div></div>

<div id="footer" class="row head-foot"><div class="col">
    <p class="text-center">&copy; Vincent Jacques 2010-2017
        - <a href="mailto:vincent@vincent-jacques.net">e-mail</a>
        - <a href="https://www.github.com/jacquev6">GitHub</a>
        - <a href="https://www.linkedin.com/in/jacquev6">LinkedIn</a>
    </p>
</div></div>

</div>
</body>
</html>
